<template>
    <div class="blue-header__container">
        <div class="blue-header__links">
            <div class="header-links__admin-page" v-if="user.role === 'admin'">Kênh Quản Lý</div>
            <div class="header-links__seller-page">Kênh Người Bán</div>
            <div class="header-links__space"></div>
            <div class="header-links__notification">
                <i class="fas fa-bell"></i>
                <span>Thông báo</span>
            </div>
            <div class="header-links__user">
                <div class="user-inf">
                    <div class="user-inf__avatar"><img :src="user.avatar_path" :alt="user.avatar_path"></div>
                    <div class="user-inf__name">{{ user.name }}</div>
                </div>
                <div class="user-action">
                    <div class="user-action__container">
                        <div class="user-action__order">Đơn Mua</div>
                        <div class="user-action__account">Tài Khoản Của Tôi</div>
                        <div class="user-action__logout">Đăng Xuất</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blue-header__main">
            <div class="header-main__logo"><img src="" alt=""></div>
            <div class="header-main__search-bar">
                <div class="search-bar__main">
                    <form role="search">
                        <input type="text" placeholder="Tìm kiếm sản phẩm ...">
                        <button type="submit"><i class="fas fa-search"></i></button> 
                    </form>
                </div>
                <div class="search-bar__menu">

                </div>
            </div>
            <div class="header-main__cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: {
                    role: "admin",
                    name: "XanhZ",
                    avatar_path: "",

                },

                search: {
                    content: ""
                },

                category: {

                }
            };
        },
        mounted() {
            const font_script = document.createElement('script');
            font_script.setAttribute('src', 'https://kit.fontawesome.com/135c1724d7.js');
            font_script.setAttribute('crossorigin', 'anonymous');
            document.head.appendChild(font_script);
        }
    }
</script>

<style scoped>
* {
    background: #ddd;
}
</style>