<template>
    <div class="form__login">
        <div class="form-login__main">
            <form>
                <div class="input-container">
                    <label for="account">Tài Khoản</label>
                    <input type="text" 
                            name="account" 
                            placeholder="Email/Tên đăng nhập/Số điện thoại" 
                            v-model="login_inf.account" 
                            :class="{error: login_error.account.has_error}">
                    <span class="error_msg">{{ login_error.account.msg }}</span>
                </div>
                <div class="input-container">
                    <label for="password"></label>
                    <input type="password" 
                            name="password" 
                            placeholder="Mật khẩu" 
                            v-model="login_inf.password"
                            :class="{error: login_error.password.has_error}">
                    <span class="error_msg">{{ login_error.password.msg }}</span>
                </div>
            </form>
        </div>
        <div class="form-login__footer">
            <button class="login-button">Đăng Nhập</button>
            <a href="#">Quên mật khẩu</a>
        </div>
  </div>
</template>

<script>
export default {
    data(){
        return {
            login_inf: {
                account: "",
                password: ""
            },
            login_error: {
                accout:   { has_error: false, msg: "" },
                password: { has_error: false, msg: "" }, 
            }
        };
    }
}
</script>

<style scoped>
    
</style>