<template>
    <div class="form_register">
        <div class="form-register__main">
            <form>
                <div class="input-container">
                    <input type="text" 
                            name="fullname" 
                            placeholder="Họ tên" 
                            v-model="register_inf.fullname" 
                            :class="{error: register_error.fullname.has_error}">
                    <span class="error_msg">{{ register_error.fullname.msg }}</span>
                </div>
                <div class="input-container">
                    <input type="text" 
                            name="phone-number" 
                            placeholder="Số điện thoại" 
                            v-model="register_inf.phone_number" 
                            :class="{error: register_error.phone_number.has_error}">
                    <span class="error_msg">{{ register_error.phone_number.msg }}</span>
                </div>
                <div class="input-container">
                    <input type="text" 
                            name="email" 
                            placeholder="Địa chỉ Email" 
                            v-model="register_inf.email" 
                            :class="{error: register_error.email.has_error}">
                    <span class="error_msg">{{ register_error.email.msg }}</span>
                </div>
                <div class="input-container">
                    <input type="password" 
                            name="password" 
                            placeholder="Mật khẩu" 
                            v-model="register_inf.password" 
                            :class="{error: register_error.password.has_error}">
                    <span class="error_msg">{{ register_error.password.msg }}</span>
                </div>
                <div class="input-container">
                    <input type="password" 
                            name="password-confirm" 
                            placeholder="Xác nhận mật khẩu" 
                            v-model="register_inf.password_confirm" 
                            :class="{error: register_error.password_confirm.has_error}">
                    <span class="error_msg">{{ register_error.password_confirm.msg }}</span>
                </div>
                <div class="input-container">
                    <div class="gender-selection">
                        <div class="gender-section__item">
                            <input type="radio" name="gender" value="male" v-model="register_inf.gender">
                            <label for="gender">Nam</label>
                        </div>
                        <div class="gender-section__item">
                            <input type="radio" name="gender" value="female" v-model="register_inf.gender">
                            <label for="gender">Nữ</label>
                        </div>
                        <div class="gender-section__item">
                            <input type="radio" name="gender" value="other" v-model="register_inf.gender">
                            <label for="gender">Khác</label>
                        </div>
                    </div>
                    <span class="error_msg">{{ register_error.gender.msg }}</span>
                </div>
                <div class="input-container">
                    <input type="text" 
                            name="birthday" 
                            placeholder="dd/mm/yyyy"
                            v-model="register_inf.birthday" 
                            :class="{error: register_error.birthday.has_error}">
                    <span class="error_msg">{{ register_error.birthday.msg }}</span>
                </div>
            </form>
        </div>
        <div class="form-register__footer">
            <button class="register-button">Tạo Tài Khoản</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            register_inf: {
                fullname: "",
                phone_number: "",
                email: "",
                password: "",
                password_confirm: "",
                gender: "",
                birthday: ""
            },
            register_error: {
                fullname:         { has_error: false, msg: "" },
                phone_number:     { has_error: false, msg: "" },
                email:            { has_error: false, msg: "" },
                password:         { has_error: false, msg: "" },
                password_confirm: { has_error: false, msg: "" },
                gender:           { has_error: false, msg: "" },
                birthday:         { has_error: false, msg: "" },
            }
        }
    }
}
</script>

<style scoped>

</style>>
